{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "react-intl",
      {
        "messagesDir": "./_translation",
        "enforceDescriptions": true
      }
    ]
  ]
}